{% extends 'base.html' %}

{% block navbar_content %}
    <li><a style="color: #eee;" href="/userhome">Welcome {{ request.user.username }}!</a></li>
    <li><a style="color: #eee;" href="/htmlviewer">HTML viewer</a></li>
    <li><a style="color: #eee;" href="/logout">Logout</a></li>
{% endblock %}


{% block content %}
<div class="container well" style="margin-top: -40px;">
    <h2>CodeZilla</h2>
    <div>
     <form class="lang" method="POST">
          {% csrf_token %}

          <fieldset class="form-group">
            <label for="lang">Select Language</label>
            <select class="form-control" name="lang" id="lang" onchange="terminal(this)">
              <option value=C selected="selected">C (gcc 4.8.4)</option>
              <option value=CPP>C++ (g++ 4.8.4)</option>
              <option value=CSHARP>C# (mono 3.2.8)</option>
              <option value=GO>Go (go 1.4.2)</option>
              <option value=HASKELL>Haskell (ghc 7.6.3)</option>
              <option value=JAVA>Java (openjdk 1.7.0_09)</option>
              <option value=LISP>Lisp (csc 4.8.0.5)</option>
              <option value=OBJECTIVEC>Objective-C (clang 3.3)</option>
              <option value=PASCAL>Pascal (fpc 2.6.2)</option>
              <option value=PHP>PHP (php 5.5.9)</option>
              <option value=PYTHON>Python (python 2.7.6)</option>
              <option value=RUBY>Ruby (ruby 2.1.1)</option>
              <option value=R>R (RScript 3.0.2)</option>
            </select>
          </fieldset>

          <fieldset class="form-group">
            <label for="code-form">Code</label>
            <textarea class="form-control" id="source" rows="11">
#include <stdio.h>

int main()
{
    printf("Hello World!\n");
    return 0;
}            </textarea>

          </fieldset>

          <fieldset class="form-group">
            <label for="code-form" class="togvis">Custom Input</label>
            <p>
                <textarea class="form-control" id="input_text" rows="1"></textarea>
            </p>
          </fieldset>

       <button type="submit" id="submit" class="waves-effect waves-light btn">Run</button>
       <button value="Clear" class="waves-effect waves-light btn" onclick="javascript:eraseText();">Reset</button>

     </form>
 </div>
 <br>

<!--Output Table: Start-->
 <div>
  <table class="table table-striped hidden" id="table">
    <thead>
      <tr>
        <th>Output</th>
        <th>Errors</th>
        <th>Compile Status</th>
        <th>Time (sec)</th>
        <th>Memory (KB)</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

</div>


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" style="position: relative;" data-target="#myModal">Debug !</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Top Search Results</h4>
        </div>
        <div class="modal-body" id="search_links">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<!-- Formal footer -->
<div class="footer" id="whoami">
    <div class="overlayer" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row support">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-2">

            </div>
        </div>
<!-- Div footer has background-image -->
    </div>
    </div>
</div>
    <style>
  mark {
      background-color: #e67676;
      color: white;
  }
</style>

{% endblock %}
<!--Output Table: END -->
{% block additional_scripts %}
 <script>

// Toggle custom input
$(function(){

    $('label.togvis').click(function() {
    $(this).parents("fieldset").find("*:not('label')").toggle();
    return true;
});

});

//For getting CSRF token
function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
         // Does this cookie string begin with the name we want?
         if (cookie.substring(0, name.length + 1) == (name + '=')) {
             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
             break;
          }
     }
 }
 return cookieValue;
}


//For doing AJAX post
 $("#submit").click(function(e) {

   e.preventDefault();
   var csrftoken = getCookie('csrftoken');
   //  var lang = $('#lang').val();
   var e = document.getElementById("lang");
   var lang = e.options[e.selectedIndex].value;
   var source = $('#source').val();
   var input = $('#input_text').val();
   // This is the Ajax post.Observe carefully.
  //  It is nothing but details of where_to_post,what_to_post

   $.ajax({
           url : window.location.href, // the endpoint,commonly same url
           type : "POST", // http method
           data : {
            "csrfmiddlewaretoken" : csrftoken,
            "lang" : lang,
            "source" : source,
            "input" :  input
           }, // data sent with the post request

          success: function(json){
              if(json){
                  var txt = "";

                  // Output
                  if(json['run_status']['output']){ txt += "<tr><td>"+json['run_status']['output']+"</td>";}
                  else {txt += "<tr><td>"+ 'NA' +"</td>";}
                  // Errors
                  if(json['errors']){ txt += "<td>" + "<mark>" +json['errors']+ "</mark>" + "</td>";}
                  else {txt += "<td>"+ 'NA' +"</td>";}
                  // Compile Status
                  if(json['compile_status'] != "OK"){ txt += "<td>"+ "<mark>" +json['compile_status']+ "</mark>" +"</td>";}
                  else if(json['compile_status'] == "OK"){ txt += "<td>" +json['compile_status']+ "</td>";}
                  else {txt += "<td>"+ 'NA' +"</td>";}
                  // Time used
                  if(json['run_status']['time_used']){ txt += "<td>"+json['run_status']['time_used']+"</td>";}
                  else {txt += "<td>"+ 'NA' +"</td>";}
                  // Memory used
                  if(json['run_status']['memory_used']){ txt += "<td>"+json['run_status']['memory_used']+"</td></tr>";}
                  else {txt += "<td>"+ 'NA' +"</td></tr>";}
                  if(json['debug_urls']){
                    var search_div = document.getElementById('search_links');
                    search_div.innerHTML = '<ul>';
                    for (var i = 0; i < json['debug_urls'].length; i++) {
                        var j = json['descriptions'][i].toString();
                        search_div.innerHTML += '<li><a href="' + json['debug_urls'][i] + '" target="_blank">' + j +'</a></li>';
                        // search_div.innerHTML += json['debug_urls'][i]
                    }
                    search_div.innerHTML += '</ul>';
                  }

                  if(txt != ""){
                    $("#table").append(txt).removeClass("hidden");
                  }
              }
          },
          // Display JSON data in table: END

           // handle a non-successful response
           error : function(xhr,errmsg,err) {
               // directly append this to planned terminal
           console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
           }
    });
  });

</script>
{% endblock %}